<!-- index.html -->
<html>
  <head>
    <title>Like React</title>
    <script src="https://fb.me/react-0.13.0.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>

    <script type="text/jsx">

    // Your code here
    {% raw %} 

    var CommentBox = React.createClass({
        render: function() {
            return (
                <div className="commentBox">
                    Hello, I am a comment box
                </div>
                )
            }
        });

    React.render(
      <CommentBox />,
      document.getElementById('content')
    );

    {% endraw%}
    </script>
  </body>
</html>
